html, body
{
  background-color: #fff;
  color: #595653;
  letter-spacing: 0.5px;
  font-family: PT Sans;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  height: 100vh;
  margin: 0;
}
div {
  box-sizing: border-box;
}
footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .2s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
